.row {
  --bs-gutter-x:- 1.5rem !important;
}

.col {
  margin: 0 !important;
}

.logodiv {
  height: 0;
  margin-top: 1.8rem;
}

.logo1 {
  height: 38.83px;
  width: 165px;
}

.navheight {
  margin-bottom: -50px !important;
}

.slanted1 {
  border-bottom: 40px solid #094B72;
  border-left: 25px solid transparent;
  height: 0;
  width: 100%;
  -webkit-box-shadow: -15px 0px 10px -15px #FFFFFF;
          box-shadow: -15px 0px 10px -15px #FFFFFF;
}

.slanted2 {
  border-bottom: 60px solid #FFFFFF;
  border-left: 40px solid transparent;
  height: auto;
  width: 100%;
  margin-left: -40px;
  -webkit-box-shadow: -15px 0px 10px -15px #FFFFFF;
          box-shadow: -15px 0px 10px -15px #FFFFFF;
}

.slanted1 a {
  color: #094B72;
}

.slanted1 svg {
  margin-left: 20px;
}

#socialicons {
  fill: #F5F5F5;
}

.slanted1 a:hover #socialicons {
  fill: #8B8C8C;
}

.slanted1 a:hover .colorw {
  color: #8B8C8C;
}

.colorw {
  color: #FFFFFF;
}

.icons {
  margin-top: 3px;
}

.socialmedia {
  margin-right: 5rem;
}

.navlinks ul li a:hover {
  border-bottom: 3px solid #094B72;
}

.navlinks ul li a:active {
  border-bottom: 3px solid #094B72;
  color: red;
  background-color: yellow;
}

.marginnava {
  margin-left: 1.8rem;
}

.marginnav {
  margin-left: 4rem;
}

.searchicon {
  margin-right: 2.4rem !important;
}

.contact {
  margin-top: 5px;
}

.socialmedia {
  margin-top: 5px;
}

/*
.navlinks{

}

*/
/*end header*/
.headw {
  font-size: Playfair Display;
  font-size: Bold;
  font-size: 48px;
  line-height: 64px;
  line-height: 100%;
  letter-spacing: 0.32px;
  color: #2D2F30;
  text-align: center;
  margin-top: 5%;
}

.paraw {
  font-family: Poppins !important;
  font-style: Regular !important;
  font-size: 20px !important;
  line-height: 36px !important;
  line-height: 120% !important;
  text-align: center !important;
  letter-spacing: 0.5px !important;
  color: #4F4F4F !important;
}

.whycontainer {
  color: #FFFFFF;
  background-color: #F2F7FF;
}

.cardsection {
  margin: 5%;
  color: #2D2F30;
  border-radius: 8px;
  background-color: #FFFFFF;
}

/*end why section*/
.counthead {
  Font-family: Playfair Display;
  font-size: Bold;
  font-size: 48px;
  font-weight: 900;
  color: #FFFFFF;
  vertical-align: Top;
  letter-spacing: 0.5px;
}

.countsectionh {
  padding: 8%;
  background-color: #094B72;
}

.countsection {
  font-family: Poppins;
  font-size: Bold;
  font-size: 48px;
  font-weight: 800;
  line-height: 64px;
  color: #FFFFFF;
  width: 20%;
  border-right: 3px solid #4F4F4F;
  text-align: center;
}

.countsectionp {
  font-size: 12px !important;
  color: #FFFFFF;
  font-weight: 1px !important;
  line-height: 32px;
}

/*end some count banner*/
.questionsection1 {
  margin-top: 20%;
  width: 50%;
  padding: 3%;
}

.questionsection2 {
  width: 30%;
  padding: 3%;
}

.qbutton {
  margin-top: 6%;
  Font-style: Bold;
  Letter-spacing: 8%;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 10px;
  Font-family: Plus Jakarta Sans;
  background-color: #094B72;
  font-weight: 500;
  line-height: 1.4;
  text-align: center;
  color: #FFFFFF;
}

.headq {
  Font-family: Playfair Display;
  font-size: Bold;
  font-size: 48px;
  line-height: 64px;
  line-height: 100%;
  margin-bottom: 5%;
  vertical-align: Top;
  letter-spacing: 0.5px;
}

.qpara {
  font-size: Poppins;
  font-size: Regular;
  font-size: 24px;
}

/*end Question section*/
.footersection {
  background-color: #094B72 !important;
  color: #F4F5F7 !important;
}

.list-group-item {
  background-color: #094B72 !important;
  color: #F4F5F7 !important;
  border: 0 !important;
}

/*end Footer banner*/
.footerl {
  background-color: #094B72;
  color: #8B8C8C;
}

.footer {
  background-color: #094B72 !important;
  color: #F4F5F7 !important;
}

/*end Footer*/
@media (max-width: 992px) {
  .contact {
    display: none;
  }
  .navlinks ul li a:hover {
    border: 0;
    -webkit-text-decoration: 2px underline solid #094B72;
            text-decoration: 2px underline solid #094B72;
  }
  .navlinks ul li a:active {
    border: 0;
    -webkit-text-decoration: 2px underline solid #094B72;
            text-decoration: 2px underline solid #094B72;
    color: red;
    background-color: yellow;
  }
  .marginnava {
    margin-left: 1.8rem;
  }
  .marginnav {
    margin-left: 1.8rem;
  }
  .searchicon {
    margin-left: 1.8rem;
    border: 0;
  }
  .socialmedia {
    margin-right: 0;
    margin-left: 30%;
  }
  /*end header*/
}

@media (max-width: 576px) {
  .logo1 {
    height: 28.83px;
    width: 100px;
  }
  /*end header*/
}
/*# sourceMappingURL=base.css.map */